.profile__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 293px;
  margin: 0;
  color: #FFFFFF;
  grid-area: description;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 700px) {
  .profile__description {
    max-width: 188.25px;
    font-size: 14px;
    line-height: 17px;
    justify-self: center;
    margin: 0 0 32px;
  }
}