body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/page/__content/page__content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__info-block/header__info-block.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__overlay/profile__overlay.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__remove-button/element__remove-button.css);
@import url(./blocks/element/__block/element__block.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_unactive/element__like-button_unactive.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-block/element__like-block.css);
@import url(./blocks/element/__like-counetr/element__like-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_info/popup__container_info.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_type_delete/popup__button-submit_type_delete.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-button/popup___close-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__button/_invalid/popup__button_invalid.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__icon/popup__icon.css);

@import url(./blocks/error/error.css);
@import url(./blocks/error/_visible/error_visible.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__field/auth__field.css);
@import url(./blocks/auth/__submit-button/auth__submit-button.css);
@import url(./blocks/auth/__login-link/auth__login-link.css);